.s{color:#8858f4;}
h1{font-size:1.5em;}
.g{ color:brown;
text-align:center;
background-color:aqua;
border-radius:25px;
padding:10px 10px 10px 10px;
margin:10px 10px 10px 10px;}
.n{width:50%;float:left;}
body{background-color:lightgreen;}
.j{width:50%; float:right;}
.btn{color:white;
background-color:orange;
padding:10px 10px 10px 10px;
border-radius:20px;
float:right; text-decoration:none;}
.sec{
    display:inline-block;}
.cen{color:black;}
.exe{
padding:30px;
margin:30px;
background-color:aqua;
border-radius:20px;
color:brown;}
.expi{
  padding:10px;
  border-left: 5px solid orange;
}
.sol{color:orange;}
.foot{background-color:white;
text-align:center;
margin-top:100px;
border-radius:12px;}





